.custom-form-field .card{
    background-color: lightgray;
    position: relative;
    height: 200px;
}

.custom-form-field .icon{
    position: absolute;
    right: 5%;
    top: 50%;
    margin: -7px;
}

