img {
    height: 150px;
    margin-left: 150px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.icon {
    color: teal;
    position: absolute;
    margin-top: -5px;
    right: 15px;
    top: 50%;
}

.card {
    width: 400px;
}

p {
    line-height: 30px;
    text-indent: 30px;
}

h1 {
    margin-top: 20px;
    color: green;
}

