.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fill-window {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
}